// variables
$secondary-brand-color: #ff7300 !default;
$secondary-brand-color-light: lighten($secondary-brand-color, 40%) !default;

/**
 * Links
 */
 a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $secondary-brand-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

// home page
.slogan {
    padding: 10px 0;
    font-family: Anton, sans-serif;
    font-size: 6vw;
    text-align: center;
    color: $brand-color;
  }

// layout
.brand-logo {
  width: 138px !important;
  height: 36px !important;
  margin-top: 0.5em;
  background-position: 50% 50%;
  display: inline-block;
  .logo {
    fill: $brand-color
  }

  &:hover .logo {
    fill: $secondary-brand-color;
  }

  span {
    display: none;
  }
}

.site-header {
  border-top: 10px solid $brand-color;
  border-bottom: 1px solid $secondary-brand-color-light;
}
.site-footer {
  border-top: 1px solid $secondary-brand-color-light;
}

ul.social-media-list {
  display: inline;
  text-align: right;
  li {
    display: inline;
    margin-right: 0.05em;
  }
}
.footer-col-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-col:last-child {
    text-align: right;
  }
}

// header-image
.header-image {
  margin-bottom: 2em;
}